In [1]:
import os
import sys
import cv2
import pandas as pd
import numpy as np

In [2]:
os.chdir("/Users/sshaffer/COMPSCI-109b_Advanced_Topics_in_Datascience/Final_Project/the_images/all_images/")

In [73]:
tmdb = pd.read_table("../../Sandbox/cs109b/data/tmdb-test.tsv")  # Change to tmdb.tsv as needed

In [74]:
DFReduced={}
DFReduced[0] = pd.DataFrame()  # H
DFReduced[1] = pd.DataFrame()  # S
DFReduced[2] = pd.DataFrame()  # V

In [75]:
for index, row in tmdb.iterrows():
    filename =  str(row['tmdb_id']) + ".jpg"
    if k % 100 == 0:
        sys.stdout.write("\r" + str(k))
        sys.stdout.flush()
    if filename.endswith(".jpg"): 
            img = cv2.imread(filename)
            try:
                img = cv2.cvtColor(img, cv2.COLOR_RGB2HSV) # Convert to HSV
                img = cv2.resize(img, (50, 50)) # Reduce image to 50*50
            except:
                pass  
            try:
                hsv_matrix = img.reshape( (50*50,3) )
            except:
                pass
            for n in range(0, 3):
                hsvdf  = pd.DataFrame(hsv_matrix[:,n]).transpose()
                hsvdf['tmdb_id'] = row['tmdb_id']
                DFReduced[n]  = DFReduced[n].append(hsvdf)
            k += 1

26200

In [79]:
DFReduced[0].tail()

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,tmdb_id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,290826
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,288356
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,289456
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,292476
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,397046

In [52]:
DFReduced[1].head()

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,tmdb_id
0,0,0,0,0,0,0,0,0,0,0,...,54,58,57,82,67,42,43,49,51,321612
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,263115
0,254,250,250,253,250,255,246,227,213,218,...,205,236,127,242,255,229,253,155,254,127380
0,87,87,86,87,88,73,70,63,59,56,...,176,170,255,255,0,0,0,0,0,329865
0,0,0,0,0,0,0,0,0,0,0,...,246,255,238,255,186,255,251,0,0,395992

In [68]:
len(DFReduced[0].index)

11703

In [78]:
DFReduced[0].to_csv("/Users/sshaffer/COMPSCI-109b_Advanced_Topics_in_Datascience/Final_Project/H-test.tsv", sep='\t')

In [ ]:
DFReduced[1].to_csv("/Users/sshaffer/COMPSCI-109b_Advanced_Topics_in_Datascience/Final_Project/S-test.tsv", sep='\t')

In [ ]:
DFReduced[2].to_csv("/Users/sshaffer/COMPSCI-109b_Advanced_Topics_in_Datascience/Final_Project/V-test.tsv", sep='\t')